@model Colegio.App.DTO.AlunoDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aluno Details</h1>

<div>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
